<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="ida:ClientId" value="18a3f412-b441-49a2-b7d8-6f8a771c76d5" />
    <add key="ida:Audience" value="https://51o365.onmicrosoft.com/LocationSvcClientWeb" />
    <add key="ida:aadInstance" value="https://login.microsoftonline.com/{0}" />
    <add key="ida:appKey" value="qZrOHcPJWEsBwpK4Ud5tlzmqHVb0TGFDWdHLaCl0grc=" />
    <add key="ida:tenant" value="51o365.onmicrosoft.com" />
    <add key="ida:postLogoutRedirectUri" value="https://localhost:44301/" />
    <add key="ida:serviceResourceID" value="https://51o365.onmicrosoft.com/LocationSvc" />
  </appSettings>
</configuration>